* {
  margin: 0px;
  padding: 0px;
  background-color: #808080;
  text-align: center;
}

h1 {
  background-color: #808080;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.Choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Choice:hover {
  background-color: black;
  cursor: pointer;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.Choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.Score_Board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#User_Score,
#Computer_Score {
  font-size: 4rem;
}

.Message_Container {
  margin-top: 5rem;
}

#Message {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 5rem;
}
